html, body {
    margin:0px;
    height:100%;
}

.img{
    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 10px;
    background-color: hotpink;
}

.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    background-color: var(--bs-light);
    border-radius: .3rem;  
}

div{
    height: 100vh;
    background-image: url("https://media.istockphoto.com/vectors/gambling-dices-seamless-pattern-on-dark-background-vector-vector-id1024064424?k=20&m=1024064424&s=612x612&w=0&h=DzXxGXWYC_qzeOdafu657tkclsnJcGbvSpmMdGvAuj0=");
}